<h1>おはなしお気に入りランキング</h1>

<% if @tale_like_ranks.any? %>
  <table class="table table-striped">
    <tbody>
      <% @tale_like_ranks.each_with_index do |tale, i| %>
        <tr>
          <td>：<%= i+1 %></td>
          <td>：<%= link_to tale.title, tale_path(tale.id) %></td>
          <td>：<%= link_to tale.user.name, user_path(tale.user.id) %></td>
        </tr>
        <% break if i == 4 %>
      <% end %>
    </tbody>
  </table>
<% end %>
